@use '@angular/material' as mat;

@include mat.core();

@import 'theme-green.scss';

@mixin custom-components-theme($theme) {
  @include mat.card-theme($theme);
}

body {
  background: mat.get-color-from-palette($theme-green-accent, 100);
}

h1 {
  color: mat.get-color-from-palette($theme-green-primary, 900);
}

button[mat-stroked-button] {
  border-width: 2px;

  &:not(.mat-button-disabled){
    border-color: mat.get-color-from-palette($theme-green-primary, 700);
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px !important;
}