<main>
    <form>
        <h1>Enter with your account</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex: pat@example.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <div class='aligned-to-right'>
            <button mat-button color="accent">Recover password</button>
        </div>
        <button mat-raised-button color="primary">LOGIN</button>
        <button mat-stroked-button color="accent">REGISTER</button>
    </form>
</main>